[submodule "2022/vim/.vim/pack/coc/start/coc.nvim"]
	path = 2022/vim/.vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "2022/vim/.vim/pack/vendor/start/nerdcommenter"]
	path = 2022/vim/.vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
